div.content_box#about div.middle {position: relative;}
div.content_box#about div.middle div.content {margin: 0 8px 0 8px; padding: 25px; width: 830px; background-color: #FFFFFF;}

div.content_box#about div.middle div.content h1 {position: absolute; width: 800px; left: -15px; padding: 10px 10px 10px 10px; color: #FFFFFF; background-color: #000000; font: normal 41px "PT Sans Bold";}
div.content_box#about div.middle div.content div#left {float: left; width: 240px;margin: 140px 0 30px 0;}
div.content_box#about div.middle div.content div#center {float: left; width: 240px; margin: 140px 0 0 55px;}
div.content_box#about div.middle div.content div#right {float: left; width: 240px; margin: 140px 0 0 55px;}

div.content_box#about div.middle div.content h2 {padding: 15px 0 10px 0; color: #333333; font: normal 23px "PT Sans Bold";}

div.content_box#about div.middle div.content div div.amount {padding: 25px 0 0 15px; width: 220px; height: 119px; color: white; text-shadow: #666666 0 -1px;}
div.content_box#about div.middle div.content div div.amount span.big_number {float: left; width: 120px; font: normal 65px "PT Sans Bold";}
div.content_box#about div.middle div.content div div.amount span.big_number_subtitle {float: left; width: 90px; margin: 10px 0 0 5px; font: normal 19px "PT Sans Bold";}
div.content_box#about div.middle div.content div#left div.amount {background: url("/images/about/total_amount.png") no-repeat 0 0;}
div.content_box#about div.middle div.content div#center div.amount {background: url("/images/about/cultural_amount.png") no-repeat 0 0;}
div.content_box#about div.middle div.content div#right div.amount {background: url("/images/about/natural_amount.png") no-repeat 0 0;}

div.content_box#about div.middle div.content p {color: #333333; font: normal 15px "LiberationSerifSans";}
div.content_box#about div.middle div.content div ul {padding: 0 0 0 20px; list-style-type: disc;}
div.content_box#about div.middle div.content ul li {color: #333333; font: normal 15px "LiberationSerifSans";}
div.content_box#about div.middle div.content div#more_information {clear: both; margin: 50px 0 0 0;}

div.content_box#about div.middle div.content div#more_information h3 {position: absolute; left: -15px; padding: 10px 10px 10px 10px; color: #FFFFFF; background-color: #000000; font: normal 23px "PT Sans Bold";}
div.content_box#about div.middle div.content div#more_information ul {padding: 80px 0 0 0; list-style-type: none;}
div.content_box#about div.middle div.content div#more_information ul li {float: left; width: 240px; height: 109px; margin: 0 55px 0 0}
div.content_box#about div.middle div.content div#more_information ul li.last {margin: 0 0 0 0}

div.clear{clear: both;}