div.content_box#explore div.middle {position: relative;}
div.content_box#explore div.middle h1 {position: absolute; width: 500px; left: -15px; top: 20px; padding: 10px 15px 10px 15px; font: normal 41px/45px "PT Sans Bold"; color: white; background-color: black;}
div.content_box#explore div.middle div#map {margin: 0 8px 0 8px; width: 880px; height: 430px;background-color: #FFFFFF;}
div.content_box#explore div.middle div#explore_mosaic {margin: 0 8px 0 8px; width: 880px; height: 430px;background-color: #FFCC00;}

/* Filtro */
div#filter {position: relative; left: -15px; top: 0px; height: 25px; width: 885px; padding: 13px 20px 13px 20px; background-color: #000000;}
div#filter div.input #searchText{border-style:hidden; border-width: 0px; color:#666666; margin: 0; height: 21px; font-family: Helvetica, Arial; font-size:13px; outline:none;}
div#filter div.input div.input_left{float:left; background: url(/images/header/input_left.png) no-repeat; height:24px; width:10px;}
div#filter div.input div.input_center{float:left; background: url(/images/header/input_center.png) repeat-x; height:24px; width:300px;}
div#filter div.input div.input_right{float:left; background: url(/images/header/input_right.png) no-repeat; height:24px; width:27px;}

div#filter a#all_selector, a#natural_selector, a#cultural_selector{float: left; height: 19px; padding: 5px 0 0 0; text-align: center; font: normal 13px "PT Sans"; text-decoration: none; color: #000000; color: #333333; background: url("/images/explore/type_filter.png") 0 0; font: normal 13px "PT Sans Bold"; text-shadow: #FFFFFF }
div#filter a#all_selector{width: 73px; margin: 0 0 0 15px; background-position: 0 0;}
div#filter a#all_selector:hover{width: 73px; color: #4C2401; 0px 1px; background-position: 0 24px;}
div#filter a#natural_selector{width: 78px; background-position: -73px 0;}
div#filter a#natural_selector:hover{width: 78px; background-position: -73px 24px ;}
div#filter a#cultural_selector{width: 73px; background-position: 73px 0;}
div#filter a#cultural_selector:hover{width: 73px; background-position: 73px 24px;}

div#filter a#mosaic_selector, a#list_selector{float: left; width: 45px; height: 19px; padding: 5px 0 0 0; text-align: center; font: normal 13px "PT Sans"; text-decoration: none; color: #000000; color: #333333; background: url("/images/explore/display_filter.png") 0 0; font: normal 13px "PT Sans Bold"; text-shadow: #FFFFFF }
div#filter a#mosaic_selector{margin: 0 0 0 15px; background-position: 0 0;}
div#filter a#mosaic_selector:hover{background-position: 0 24px;}
div#filter a#list_selector{background-position: 45px 0;}
div#filter a#list_selector:hover{background-position: 45px 24px;}

/* Mosaico */
div#explore div.middle div#mosaic {position: relative;}
div#explore div.middle div#mosaic {margin: 0 8px 0 8px; background: #FFFFFF;}
div#explore div.middle div#mosaic ul#image_list {height: 645px;}

div.clear {clear: both;}