body {width: 100%; background: url("/images/footer/blue_texture.png") repeat;}
div#page {width:100%;}

div#footer_first {margin: 0 auto; width: 880px;}

div#footer_first p#first_claim {float: left; color: white; font: bold 27px "PT Sans";padding: 0 0 30px 0;}
div#footer_first p#first_claim a {font: bold 27px "PT Sans"; color: #ffffff;}

div#footer_first ul {float: left; width: 100%;list-style-type: none; padding: 0 0 30px 0;}
div#footer_first ul li {float: left; width: 203px;font: bold 15px Arial; color: #ffffff; padding: 0 20px 0 70px; margin: 0 0 0 0; height: 70px}
div#footer_first ul li#icon1_blue {background: url("/images/footer/icon1_blue.png") no-repeat 0 0;}
div#footer_first ul li#icon2_blue {background: url("/images/footer/icon2_blue.png") no-repeat 0 0;}
div#footer_first ul li#icon3_blue {background: url("/images/footer/icon3_blue.png") no-repeat 0 0;}

span.line {float: left; width: 100%; height: 2px; background: url("/images/footer/line_background.png") repeat-x;}

div#footer_second {margin: 0 auto; width: 880px;}
div#footer_second p#second_claim {float: left;  width: 560px; margin: 30px 0 30px 0; color: #1F3036; text-shadow: #668D9A 0px 1px; font: normal 17px Arial;}
div#footer_second p#second_claim a {color: #1F3036}

div#footer_second a#button {float: right; width: 295px; height: 48px; margin: 30px 0 30px 0; text-align: center; padding: 15px 0 0 0; font: bold 17px "PT Sans"; text-decoration: none; text-shadow: #57767F 0px 1px; color: #1F3036; background: url("/images/footer/button_back.png") no-repeat 0 0;}

div#subfooter {float: left; width: 100%; color: #999999; background-color: #000000; padding: 8px; font: normal 12px Arial; text-align: right;}
div#subfooter a {color: #FFFFFF;}

div#subfooter div#inner {margin: 0 auto; width: 880px;}