<div id='footer_content'>
  <p>
    <!--<%= t('.copyright').html_safe -%> <%= Time.now.year -%> <%= RefinerySetting[:site_name] %>-->
  </p>
	<p>This site is a redesign proposal using <a href="http://vizzuality.com/cartoset">CartoSet</a>. With it we are trying to...</p>
	<ul>
		<li>Try to get you fall in love with our product for his scalability and flexibility</li>
		<li>Show an example of the kind of things yopu can do with CartoSet</li>
		<li> Propose a different point of view of the official WHS website</li>
	</ul>
	<p><a href="http://vizzuality.com/cartoset">CartoSet</a> is a content manager based on Refinery that allows you to create Ruby On Rails websites for georeferenced data in a quick, easy and powerful way.</p>
	<a href="http://vizzuality.com/cartoset">Learn more about CartoSet</a>
	
	<div id="subfooter">CartoSet - and this website - are brought to you by <a href="http://vizzuality.com">Vizzuality</a></div>
</div>
