<div>
	<h2>Rethinkwhs.org</h2>
	<h1>Discovering the most beautiful places in the world</h1>
</<div>
	
<div>
<h2>Browse more sites around you</h2>
<ul>
	<li>
		<a href="">Shark bay, Western Australia</a>
		<p>3 hours by car from Madrid</p>
	</li>
	<li>
		<a href="">Shark bay, Western Australia</a>
		<p>3 hours by car from Madrid</p>
	</li>
	<li>
		<a href="">Shark bay, Western Australia</a>
		<p>3 hours by car from Madrid</p>
	</li>
	<li>
		<a href="">Shark bay, Western Australia</a>
		<p>3 hours by car from Madrid</p>
	</li>
	<li>
		<a href="">Shark bay, Western Australia</a>
		<p>3 hours by car from Madrid</p>
	</li>
	<li>
		<a href="">Shark bay, Western Australia</a>
		<p>3 hours by car from Madrid</p>
	</li>
	<li>
		<a href="">Shark bay, Western Australia</a>
		<p>3 hours by car from Madrid</p>
	</li>
	<li>
		<a href="">Shark bay, Western Australia</a>
		<p>3 hours by car from Madrid</p>
	</li>
	<li>
		<a href="">Shark bay, Western Australia</a>
		<p>3 hours by car from Madrid</p>
	</li>

</ul>
	<a href="">Or explore the world map</a>
</div>