<div class="content_box">
  <div class="top"></div>
  <div class="middle">
    <div class="content">
	    <h2>Rethinkwhs.org</h2>
      <h1>Discovering the most beautiful places in the world</h1> 
    </div>
   </<div>
  <div class="bottom"></div>
</div>

<div class="content_box">	
  <div class="top"></div>
  <div class="middle" id="more_sites">
    <div class="content">
    <h2>Browse more sites around you</h2>
      <ul>
	      <li>
		      <a href="">Shark bay, Western Australia</a>
		      <p>3 hours by car from Madrid</p>
	      </li>
	      <li>
		      <a href="">Shark bay, Western Australia</a>
		      <p>3 hours by car from Madrid</p>
	      </li>
	      <li>
		      <a href="">Shark bay, Western Australia</a>
		      <p>3 hours by car from Madrid</p>
	      </li>
	      <li>
		      <a href="">Shark bay, Western Australia</a>
		      <p>3 hours by car from Madrid</p>
	      </li>
	      <li>
		      <a href="">Shark bay, Western Australia</a>
		      <p>3 hours by car from Madrid</p>
	      </li>
	      <li>
		      <a href="">Shark bay, Western Australia</a>
		      <p>3 hours by car from Madrid</p>
	      </li>
	      <li>
		      <a href="">Shark bay, Western Australia</a>
		      <p>3 hours by car from Madrid</p>
	      </li>
	      <li>
		      <a href="">Shark bay, Western Australia</a>
		      <p>3 hours by car from Madrid</p>
	      </li>
	      <li>
		      <a href="">Shark bay, Western Australia</a>
		      <p>3 hours by car from Madrid</p>
	      </li>

      </ul>
    </div>
    <div class="footer">
	      <a class="bottom_link" href="">Or explore the world map</a>
    </div>
  </div>
  <div class="bottom"></div>
</div>