<div class="content_box" id="mosaic">	
  <div class="top"></div>
  <div class="middle">
    <div class="content">
  	  <h2>RethinkWHS.org</h2>
        <h1>Discovering the most beautiful places in the world</h1>
        <div id="big_image">
          <img src="/images/test/test_big.jpg">
        </div><ul id="image_list"><li class="mosaic_element"><a href="/features/619">
          <img src="/images/test/test_small.jpg">
          <div class="mosaic_label">
            <p class="place">Acrópolis</p>
            <p class="distance">4 hours by car from Madrid</p>
          </div>
          </a>
        </li><li class="mosaic_element"><a href="/features/619">
            <img src="/images/test/test_small.jpg">
            <div class="mosaic_label">
              <p class="place">Acrópolis</p>
              <p class="distance">4 hours by car from Madrid</p>
            </div>
            </a>
        </li><li class="mosaic_element"><a href="/features/619">
            <img src="/images/test/test_small.jpg">
            <div class="mosaic_label">
              <p class="place">Acrópolis</p>
              <p class="distance">4 hours by car from Madrid</p>
            </div>
            </a>
        </li><li class="mosaic_element"><a href="/features/619">
            <img src="/images/test/test_small.jpg">
            <div class="mosaic_label">
              <p class="place">Acrópolis</p>
              <p class="distance">4 hours by car from Madrid</p>
            </div>
            </a>    
        </li><li class="mosaic_element"><a href="/features/619">
            <img src="/images/test/test_small.jpg">
            <div class="mosaic_label">
              <p class="place">Acrópolis</p>
              <p class="distance">4 hours by car from Madrid</p>
            </div>
            </a>
        </li><li class="mosaic_element"><a href="/features/619">
            <img src="/images/test/test_small.jpg">
            <div class="mosaic_label">
              <p class="place">Acrópolis</p>
              <p class="distance">4 hours by car from Madrid</p>
            </div>
            </a>
        </li></ul>
    </div>
  </div>
  <div class="bottom"></div>
</div>

<div class="content_box" id="more_sites">	
  <div class="top"></div>
  <div class="middle">
    <div class="content">
    <h2>Browse more sites around you</h2>

      <ul><li>
		      <a href="/features/619">Shark bay, Westernss Australia</a>
		      <p>3 hours by car from Madrid</p>
	      </li><li>
		      <a href="/features/619">Shark bay, Western Australia</a>
		      <p>3 hours by car from Madrid</p>
	      </li><li>
		      <a href="/features/619">Shark bay, Western Australia</a>
		      <p>3 hours by car from Madrid</p>
	      </li><li>
		      <a href="/features/619">Shark bay, Western Australia</a>
		      <p>3 hours by car from Madrid</p>
	      </li><li>
		      <a href="/features/619">Shark bay, Western Australia</a>
		      <p>3 hours by car from Madrid</p>
	      </li><li>
		      <a href="/features/619">Shark bay, Western Australia</a>
		      <p>3 hours by car from Madrid</p>
	      </li><li>
		      <a href="/features/619">Shark bay, Western Australia</a>
		      <p>3 hours by car from Madrid</p>
	      </li><li>
		      <a href="/features/619">Shark bay, Western Australia</a>
		      <p>3 hours by car from Madrid</p>
	      </li><li>
		      <a href="/features/619">Shark bay, Western Australia</a>
		      <p>3 hours by car from Madrid</p>
	      </li></ul>
    </div>

    <div class="footer">
	      <a class="bottom_link" href="/features/">Or explore the world map</a>
    </div>
  </div>
  <div class="bottom"></div>
</div>