<div class="content_box" id="explore">	
  <div class="top"></div>
  <div class="middle">
    <h1>More than 900 beautiful places to see</h1>
    <div id="map">
    </div>
    <div id="filter">
      <form>        
        <div class="input"><div class="input_left"></div><div class="input_center"><form><input id="searchText" type="text" size="20" value="Search..."/><input class="hidden" type="submit"/></form></div><div class="input_right"></div></div>
        <a id="all_selector" href="">All</a>    
        <a id="natural_selector" href="">Natural</a>            
        <a id="cultural_selector" href="">Cultural</a>
        <a id="mosaic_selector" href=""></a>            
        <a id="list_selector" href=""></a>
      </form>
    </div>
    <div id="mosaic">
      <ul id="image_list">
        <li class="mosaic_element">
          <div class="mosaic_element_div">
            <img src="/images/test/test_small.jpg">
            <div class="mosaic_label">
              <p class="place">Acr贸polis</p>
              <p class="distance">4 hours by car from Madrid</p>
            </div>
          </div>
        </li>
        <li class="separator"></li>
        <li class="mosaic_element middle">
          <div class="mosaic_element_div">
            <img src="/images/test/test_small.jpg">
            <div class="mosaic_label">
              <p class="place">Acr贸polis</p>
              <p class="distance">4 hours by car from Madrid</p>
            </div>
          </div>
        </li>
        <li class="separator"></li>          
        <li class="mosaic_element">
          <div class="mosaic_element_div">
            <img src="/images/test/test_small.jpg">
            <div class="mosaic_label">
              <p class="place">Yosemite National Park</p>
              <p class="distance">4 hours by car from Madrid</p>
            </div>
          </div>
        </li>
        <li class="separator horizontal"></li>
        <li class="mosaic_element">
          <div class="mosaic_element_div">
            <img src="/images/test/test_small.jpg">
            <div class="mosaic_label">
              <p class="place">Yosemite National Park</p>
              <p class="distance">4 hours by car from Madrid</p>
            </div>
          </div>
        </li>
        <li class="separator"></li>
        <li class="mosaic_element middle">
          <div class="mosaic_element_div">
            <img src="/images/test/test_small.jpg">
            <div class="mosaic_label">
              <p class="place">Acr贸polis</p>
              <p class="distance">4 hours by car from Madrid</p>
            </div>
          </div>
        </li>
        <li class="separator"></li>          
        <li class="mosaic_element">
          <div class="mosaic_element_div">
            <img src="/images/test/test_small.jpg">
            <div class="mosaic_label">
              <p class="place">Yosemite National Park</p>
              <p class="distance">4 hours by car from Madrid</p>
            </div>
          </div>
        </li>
        <li class="separator horizontal"></li>                              
        <li class="mosaic_element">
          <div class="mosaic_element_div">
            <img src="/images/test/test_small.jpg">
            <div class="mosaic_label">
              <p class="place">Yosemite National Park</p>
              <p class="distance">4 hours by car from Madrid</p>
            </div>
          </div>
        </li>
        <li class="separator"></li>
        <li class="mosaic_element middle">
          <div class="mosaic_element_div">
            <img src="/images/test/test_small.jpg">
            <div class="mosaic_label">
              <p class="place">Acr贸polis</p>
              <p class="distance">4 hours by car from Madrid</p>
            </div>
          </div>
        </li>
        <li class="separator"></li>          
        <li class="mosaic_element">
          <div class="mosaic_element_div">
            <img src="/images/test/test_small.jpg">
            <div class="mosaic_label">
              <p class="place">Yosemite National Park</p>
              <p class="distance">4 hours by car from Madrid</p>
            </div>
          </div>
        </li>
        <li class="separator horizontal"></li>                              
      </ul>


    </div>
  </div>
  <div class="bottom"></div>
</div>


<% content_for :body_content_left do %>
  <ul id="features">
    <% @features.each do |feature| %>
      <li>
        <%= link_to feature.title, feature_url(feature) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render :partial => "/shared/content_page" %>


