<div class="content_box" id="explore">	
  <div class="top"></div>
  <div class="middle">
    <h1><span>More than 900 beautiful</span></h1>
    <h1 class="down"><span>places to see</span></h1>
    <div id="map">
    </div>
    <div id="filter">
      <form>        
        <div class="input"><div class="input_left"></div><div class="input_center"><form><input id="searchText" type="text" size="20" value="Search..."/><input class="hidden" type="submit"/></form></div><div class="input_right"></div></div>
        <a id="all_selector" href="">All</a>    
        <a id="natural_selector" href="">Natural</a>            
        <a id="cultural_selector" href="">Cultural</a>
        <a id="mosaic_selector" href=""></a>            
        <a id="list_selector" href=""></a>
      </form>
    </div>
    <div id="mosaic">
      <ul id="image_list">

        <% @features[0..8].each do |feature|%>
        <li class="separator<%= cycle(' horizontal','','', :name => 'separator') %>"></li>
        <li class="mosaic_element<%= cycle('',' middle','', :name => 'mosaic') %>">
          <a href="/features/<%=feature.id%>">
          <div class="mosaic_element_div">
            <img src="/images/test/test_small.jpg">
            <div class="mosaic_label">
              <p class="place"><%=feature.title%></p>
              <p class="distance">4 hours by car from Madrid</p>
            </div>
          </div>
          </a>
        </li>
        <% end %>
        <li class="separator horizontal"></li>                                      
      </ul>
    </div>
  </div>
  <div class="bottom"></div>
</div>

